.productCard {
  border: 3px solid gray;
  margin: 20px;
  padding: 10px;
  width: 250px;
  display: inline-flex;
  text-decoration: none;
}

.right {
  width: 55%;
  display:inline-flex;
  justify-content: center;
}

.left {
  width: 30%;
  border: 3px solid black;
  display:inline-block;
  vertical-align: top;
  position: fixed;
  height: 300px;
}

.outputAll > div{
  display:inline-block;
}

.output > div {
  margin: 0 auto;
  width: 75%;
}